:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --additional-background-color: #f5f4fa;

  --main-txt-color: #757575;
  --second-txt-color: #212121;
  --hero-text-color: #ffffff;

  --accent: #2196f3;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-txt-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
.header-nav {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list > .item:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact > .item:not(:last-child) {
  margin-right: 50px;
}

/* логотип header и footer*/
.nav > .logo {
  margin-right: 93px;
  color: #000000;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;

  color: #ffffff;
}

.postaddress {
  display: block;
  margin-bottom: 9px;
}

.logo-accent {
  color: var(--accent);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* линки в header*/
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-txt-color);
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
}

.nav-link,
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent);
}

.current {
  color: var(--accent);
}

/* секция hero */
.hero {
  /* padding-left: 452px;
  padding-right: 452px; */
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--second-background-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--hero-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  min-width: 200px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: none;
  border-radius: 4px;

  background-color: var(--accent);
  color: var(--hero-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  background-color: var(--hero-text-color);
  color: var(--accent);
}

/* секция особенности */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/*секция Чем мы занимаемся */
.services {
  padding-bottom: 94px;
}

.services h2 {
  margin-bottom: 50px;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-list .item {
  width: calc((100% - 2 * 30px) / 3);
}

.services-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.titlecolor {
  color: var(--second-txt-color);
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* секия наша команда */
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--additional-background-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team .item {
  width: calc((100% - 3 * 30px) / 4);
}

.team .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-photo {
  margin-bottom: 30px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-subtitle {
  font-weight: 500;
}

.team .text {
  margin-top: 10px;
  margin-bottom: 30px;
}
.section-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* секция footer */
.footer {
  padding-top: 58px;
  padding-bottom: 62px;

  background-color: var(--second-background-color);
}
.footer .logo,
.postaddress {
  color: var(--hero-text-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer .link {
  display: block;
  margin-bottom: 9px;
}

/* страница портфолио */
.portfolio {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* лист кнопок */
.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-button .item:not(:last-child) {
  margin-right: 30px;
}
.portfolio-button {
  min-width: 73px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: 0px;

  color: var(--second-txt-color);

  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-button:hover,
.portfolio-button:focus {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--hero-text-color);
}

/* сетка */
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
}

.list-img .item {
  width: 370px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.list-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.list-img .title {
  color: var(--second-txt-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 36px2;
  letter-spacing: 0.06em;
}

.list-img .text {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--main-txt-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.list-img .title:hover,
.list-img .title:focus,
.list-img .text:hover,
.list-img .text:focus {
  color: var(--accent);
}
